@using Lifestoned.DataModel.Gdle;
@using Lifestoned.DataModel.Shared
@model Weenie

@{
    ViewBag.Title = "Edit " + Model.Name;
}

<br />

@using (Html.BeginForm("Edit", "Weenie", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="btn-group-vertical stuck" role="group">
        <button id="btnSave" type="submit" class="btn btn-primary" title="Save"><i class="glyphicon glyphicon-floppy-save"></i></button>
        <a href="@Url.Action("Edit", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Delete", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
        }
        <a id="preview" target="_blank" href="http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}" class="btn btn-primary" title="preview"><i class="glyphicon glyphicon-search"></i></a>
    </div>

    <div class="form-horizontal">
        <h2>
            Edit @Html.Raw(Model.Name) (@(Html.DisplayFor(m => m.WeenieClassId)))
            @if (Model.IconId != null)
            {
                <div class="icon">
                    <img src="@Url.Action("GetFullyLayeredPngIcon", "Resource", new { weenieClassId = Convert.ToUInt32(Model.WeenieClassId) }) " />
                </div>
            }
        </h2>
        <hr />
        <div class="container">

            @Html.HiddenFor(m => m.WeenieClassId)
            @Html.HiddenFor(m => m.MvcAction)
            @Html.HiddenFor(m => m.PropertyTab)
            @Html.DisplayFor(m => m, "InfoMessages")

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.IsDone)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsDone)
                    </div>
                </div>
                <div class="row row-spacer">
                    Check this box when this weenie is completely done with editing for purposes of restoring Dereth to its January 2017 state.
                </div>
            </div>

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2 vcenter">
                        @Html.Label("Weenie Type")
                    </div>
                    <div class="col-md-8 vcenter">
                        @Html.EnumDropDownListFor(m => m.WeenieType_Binder, new { @class = "form-control force-inline" })
                    </div>
                </div>
            </div>

            <div class="well" id="properties">
                <h3>Properties</h3>

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#stringProperties">Strings <span class="badge">@Model.StringStats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#int32Properties">Int32 <span class="badge">@Model.IntStats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#int64Properties">Int64 <span class="badge">@Model.Int64Stats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#dblProperties">Double <span class="badge">@Model.FloatStats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#didProperties">Data IDs <span class="badge">@Model.DidStats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#iidProperties">Instance IDs <span class="badge">@Model.IidStats.Count()</span></a></li>
                    <li><a data-toggle="tab" href="#boolProperties">Bool <span class="badge">@Model.BoolStats.Count()</span></a></li>
                </ul>

                <div class="tab-content">
                    <div id="stringProperties" class="tab-pane fade in active">
                        @Html.EditorFor(m => m.StringStats, "StringPropertyList")

                        <hr id="newStringRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New String Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewStringPropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addStringProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>

                    <div id="int32Properties" class="tab-pane fade">
                        @Html.EditorFor(m => m.IntStats, "IntPropertyList")
                        <hr id="newIntRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Int Property
                            </div>
                            <div class="col-md-4">
                                @Html.EnumDropDownListFor(m => m.NewIntPropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addIntProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>

                    <div id="int64Properties" class="tab-pane fade">
                        @Html.EditorFor(m => m.Int64Stats, "Int64PropertyList")

                        <hr id="newInt64RowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Int64 Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewInt64PropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addInt64Property" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                    <div id="dblProperties" class="tab-pane fade">
                        @Html.EditorFor(m => m.FloatStats, "DoublePropertyList")

                        <hr id="newDoubleRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Double Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewDoublePropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addDoubleProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                    <div id="didProperties" class="tab-pane fade">
                        @Html.EditorFor(m => m.DidStats, "DataIdPropertyList")

                        <hr id="newDidRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Did Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewDidPropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addDidProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                    <div id="iidProperties" class="tab-pane fade">
                        @Html.EditorFor(m => m.IidStats, "InstanceIdPropertyList")

                        <hr id="newIidRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Iid Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewIidPropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addIidProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                    <div id="boolProperties" class="tab-pane fade">
                        @Html.EditorFor(m => m.BoolStats, "BoolPropertyList")

                        <hr id="newBoolRowMarker" />
                        <div class="row row-spacer">
                            <div class="col-md-3">
                                Add New Bool Property
                            </div>
                            <div class="col-md-3">
                                @Html.EnumDropDownListFor(m => m.NewBoolPropertyId, new { @class = "form-control force-inline" })
                            </div>
                            <div class="col-md-1">
                                <input type="button" class="btn btn-primary" id="addBoolProperty" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="well" id="locations">
                @Html.EditorFor(m => m.Positions, "PositionList")

                <hr id="newPositionRowMarker" />
                <div class="row row-spacer">
                    <div class="col-md-3">
                        Add New Position
                    </div>
                    <div class="col-md-3">
                        @Html.EnumDropDownListFor(m => m.NewPositionType, new { @class = "form-control force-inline" })
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-primary" id="addPosition" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>

            @if (Model.HasAbilities)
            {
                <div class="well">
                    @Html.EditorFor(m => m.Attributes, "AbilityList")
                </div>

                <div class="well">
                    @Html.EditorFor(m => m.Skills, "SkillList")

                    <hr id="newSkillRowMarker" />
                    <div class="row row-spacer">
                        <div class="col-md-3">
                            Add New Skill
                        </div>
                        <div class="col-md-2">
                            @Html.EnumDropDownListFor(m => m.NewSkillId, new { @class = "form-control" })
                        </div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-primary" id="addSkill" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="well">
                    <div class="row row-spacer">
                        <div class="col-md-6">
                            This Weenie has no Attributes or Skills.  Set the Item Type to Creature to add them.
                        </div>
                    </div>
                </div>
            }

            @if (Model.HasBodyPartList)
            {
                <div class="well">
                    @Html.EditorFor(m => m.Body, "BodyPartList")

                    <div class="row row-spacer">
                        <div class="col-md-3">
                            Add New Body Part
                        </div>
                        <div class="col-md-3">
                            @Html.EnumDropDownListFor(m => m.NewBodyPartType, new { @class = "form-control force-inline" })
                        </div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-primary" id="addBodyPart" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="well">
                    <div class="row row-spacer">
                        <div class="col-md-6">
                            This Weenie has no Body Parts List.  Click here to add one.<br />
                            <input type="button" class="btn btn-primary" id="addBodyParts" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                        </div>
                    </div>
                </div>
            }

            <div class="well" id="spells">
                @Html.EditorFor(m => m.Spells, "SpellList")

                <hr id="newSpellRowMarker" />
                <div class="row row-spacer">
                    <div class="col-md-3">
                        Add New Spell
                    </div>
                    <div class="col-md-3">
                        @Html.EnumDropDownListFor(m => m.NewSpellId, new { @class = "form-control force-inline" })
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-primary" id="addSpell" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>

            <div class="well">
                @Html.EditorFor(m => m.Book, "BookPages")

                <hr id="newBookPageRowMarker" />
                <div class="row row-spacer">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                        <input type="button" class="btn btn-primary" id="addBookPage" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
            </div>

            @if (Model.HasGeneratorTable)
            {
                <div class="well" id="generatorTable">
                    @Html.EditorFor(m => m.GeneratorTable, "GeneratorTable")

                    <hr id="newGeneratorTableRowMarker" />
                    <div class="row row-spacer">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-1">
                            <input type="button" class="btn btn-primary" id="addGeneratorTable" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            }
            else
            {
                <div class="well">
                    <div class="row row-spacer">
                        <div class="col-md-6">
                            This Weenie has no Generator Table.  Click here to add one.<br />
                            <input type="button" class="btn btn-primary" id="addGeneratorTable" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                        </div>
                    </div>
                </div>
            }

            <div class="well" id="emoteTable">
                @Html.HiddenFor(m => m.EmoteSetGuid)
                @Html.EditorFor(m => m.EmoteTable, "EmoteTable")

                <hr id="newEmoteSetMarker" />
                <div class="row row-spacer">
                    <div class="col-md-3">
                        @Html.Label("Add new Emote Set")
                    </div>
                    <div class="col-md-5">
                        @Html.EnumDropDownListFor(m => m.NewEmoteCategory, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4">
                        <input type="button" class="btn btn-primary" id="addEmoteSet" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                    </div>
                </div>
            </div>

            <div class="well" id="createList">
                @Html.EditorFor(m => m.CreateList, "CreateList")

                <hr id="newCreateitemMarker" />
                <div class="row row-spacer">
                    <div class="col-md-3">
                        @Html.Label("Add new Item")
                    </div>
                    <div class="col-md-9">
                        <input type="button" class="btn btn-primary" id="addCreateItem" value="Add" formaction="Edit" formnovalidate="formnovalidate" />
                    </div>
                </div>
            </div>

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.Label("Changelog")
                    </div>
                </div>
                @Html.DisplayFor(m => m.Changelog, "Changelog")
                @*<div class="row row-spacer">
                        <div class="col-md-2">
                            @Html.Label("Comments")
                        </div>
                    </div>
                    <div class="row row-spacer">
                        <div class="col-md-10">
                            @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
                        </div>
                    </div>*@
            </div>

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ModifiedBy)
                    </div>
                    <div class="col-md-4">
                        @Html.HiddenFor(m => m.ModifiedBy)
                        @Html.DisplayFor(m => m.ModifiedBy)
                    </div>
                </div>

                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.LastModified)
                    </div>
                    <div class="col-md-4">
                        @Html.HiddenFor(m => m.LastModified)
                        @Html.DisplayFor(m => m.LastModified)
                    </div>
                </div>

                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.Label("Changelog Entry")
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.UserChangeSummary, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Search Weenie Modal -->
    <div class="modal fade" id="searchWeenieModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Weenie Search</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2" for="searchWeenie_Criteria_PartialName">Name</label>
                            <div class="col-md-10">
                                <input class="form-control" id="searchWeenie_Criteria_PartialName" name="Criteria.PartialName" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Criteria.PartialName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2" for="searchWeenie_Criteria_WeenieClassId">Weenie Id</label>
                            <div class="col-md-10">
                                <input class="form-control" id="searchWeenie_Criteria_WeenieClassId" name="Criteria.WeenieClassId" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Criteria.WeenieClassId" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2" for="searchWeenie_Criteria_ItemType">Item Type</label>
                            <div class="col-md-10">
                                <input class="form-control" id="searchWeenie_Criteria_ItemType" name="Criteria.ItemType" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Criteria.ItemType" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-2" for="searchWeenie_Criteria_WeenieType">Weenie Type</label>
                            <div class="col-md-10">
                                <input class="form-control" id="searchWeenie_Criteria_WeenieType" name="Criteria.WeenieType" type="text" value="" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="Criteria.WeenieType" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="searchWeenieBtn" aria-label="Search" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>

                    <div id="searchWeenieModalResults" style="display:none;">
                        <!-- AJAX RESULTS GO HERE -->
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Weenie Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Item Type</th>
                                    <th>Weenie Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {
    @Html.Partial("EditorScript")
}
