@model Lifestoned.DataModel.Gdle.SandboxModel

@{
    ViewBag.Title = "Review Sandbox Changes";
}

<h2>Review Sandbox Changes</h2>

<br />

@if (Model.Changes == null || Model.Changes.Count < 1)
{
    <div class="alert alert-info">
        There are no changes to review.
    </div>
}
else
{
    @Html.EditorFor(m => m.Changes, "SubmissionList")
}
