﻿
@model Lifestoned.DataModel.Gdle.Frame

<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Position.X)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Position.X, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Position.Y)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Position.Y, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Position.Z)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Position.Z, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Rotations.W)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Rotations.W, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Rotations.X)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Rotations.X, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Rotations.Y)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Rotations.Y, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
<div class="row row-spacer">
    <div class="col-md-1"></div>
    <div class=" col-md-3">
        @Html.LabelFor(m => m.Rotations.Z)
    </div>
    <div class=" col-md-3">
        @Html.TextBoxFor(m => m.Rotations.Z, new { @class = "form-control" })
    </div>
    <div class="col-md-5"></div>
</div>
